<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>rock'on</title>
    <link rel="icon" type="image/png" href="./css/logo.png" sizes="16x16">
    <link rel="stylesheet" href="./css/basic.css">
    <style>
        p {
            padding: 20px 20px 0 20px;
        }
        p.title {
            font-weight: bold;
        }
        ul, ul li {
            padding-left: 10px;
            font-size: 16px;
            display: block;
        }
        b {
            font-weight: bold;
        }
    </style>
<body>
    <p class="title">Please share your groove with us.</p>
    <p><input type="button" class="btn btn-action" value="Retry" onclick="window.history.back()"></p>
</body>
</html>
