<div class="row">
  <div class="large-4 large-offset-4 columns">
    <p>Please, enter your credentials</p>
  </div>
</div>

<form>
  <div class="row">
    <div class="large-4 large-offset-4 columns">
      <div class="row collapse prefix-radius">
        <div class="small-3 columns">
          <span class="prefix">Login</span>
        </div>
        <div class="small-9 columns">
          <input type="text" name="name">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-4 large-offset-4 columns">
      <div class="row collapse prefix-radius">
        <div class="small-3 columns">
          <span class="prefix">Password</span>
        </div>
        <div class="small-9 columns">
          <input type="password" name="password">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-4 large-offset-4 columns">
      <input type="submit" class="button radius success small js-creation" value="Login">
   </div>
  </div>
</form>