<div class="row">
  <div class="large-4 large-offset-4 columns">
    <p>Which musician would you like to add?</p>
  </div>
</div>

<form>
  
  <input type="hidden" name="picture">
  <div class="musician-faces"></div>
  
  <div class="row">
    <div class="large-4 large-offset-4 columns">
      <div class="row collapse prefix-radius">
        <div class="small-3 columns">
          <span class="prefix">Name</span>
        </div>
        <div class="small-9 columns">
          <input type="text" name="name" placeholder="ex. Paul">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-4 large-offset-4 columns">
      <div class="row collapse prefix-radius">
        <div class="small-3 columns">
          <span class="prefix textarea">Bio</span>
        </div>
        <div class="small-9 columns">
          <textarea name="bio" placeholder="ex. Death Metal lead singer "></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-4 large-offset-4 columns">
      <input type="submit" class="button radius success small js-creation" value="Add">
   </div>
  </div>
</form>